{% extends 'base.html.twig' %}

{% block title %}Catégories - BlogTech{% endblock %}

{% block body %}
    <h1>Catégories</h1>

    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('app_category_show_public', {'slug': category.slug}) }}">
                    {{ category.name }}
                </a>
            </li>
        {% else %}
            <li>Aucune catégorie.</li>
        {% endfor %}
    </ul>
{% endblock %}
